In [1]:
import pandas as pd

df = pd.read_csv("Social_Media_Advertising.csv")

In [3]:
print("Shape:", df.shape)
display(df.head(5))
print("\nColumns:", df.columns.tolist())
df.info()

Shape: (300000, 16)

,Campaign_ID,Target_Audience,Campaign_Goal,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,Company
0,529013,Men 35-44,Product Launch,15 Days,Instagram,0.15,$500.00,5.790000,Las Vegas,Spanish,500,3000,7,Health,2022-02-25,Aura Align
1,275352,Women 45-60,Market Expansion,15 Days,Facebook,0.01,$500.00,7.210000,Los Angeles,French,500,3000,5,Home,2022-05-12,Hearth Harmony
2,692322,Men 45-60,Product Launch,15 Days,Instagram,0.08,$500.00,0.430000,Austin,Spanish,500,3000,9,Technology,2022-06-19,Cyber Circuit
3,675757,Men 25-34,Increase Sales,15 Days,Pinterest,0.03,$500.00,0.909824,Miami,Spanish,293,1937,1,Health,2022-09-08,Well Wish
4,535900,Men 45-60,Market Expansion,15 Days,Pinterest,0.13,$500.00,1.422828,Austin,French,293,1937,1,Home,2022-08-24,Hearth Harmony

Columns: ['Campaign_ID', 'Target_Audience', 'Campaign_Goal', 'Duration', 'Channel_Used', 'Conversion_Rate', 'Acquisition_Cost', 'ROI', 'Location', 'Language', 'Clicks', 'Impressions', 'Engagement_Score', 'Customer_Segment', 'Date', 'Company']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       300000 non-null  int64
 1   Target_Audience   300000 non-null  object
 2   Campaign_Goal     300000 non-null  object
 3   Duration          300000 non-null  object
 4   Channel_Used      300000 non-null  object
 5   Conversion_Rate   300000 non-null  float64
 6   Acquisition_Cost  300000 non-null  object
 7   ROI               300000 non-null  float64
 8   Location          300000 non-null  object
 9   Language          300000 non-null  object
 10  Clicks            300000 non-null  int64
 11  Impressions       300000 non-null  int64
 12  Engagement_Score  300000 non-null  int64
 13  Customer_Segment  300000 non-null  object
 14  Date              300000 non-null  object
 15  Company           300000 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 36.6+ MB

In [4]:
df.columns = df.columns.str.strip().str.replace(" ", "_")
print(df.columns.tolist())

['Campaign_ID', 'Target_Audience', 'Campaign_Goal', 'Duration', 'Channel_Used', 'Conversion_Rate', 'Acquisition_Cost', 'ROI', 'Location', 'Language', 'Clicks', 'Impressions', 'Engagement_Score', 'Customer_Segment', 'Date', 'Company']

In [5]:
print("Duplicates:", df.duplicated().sum())

Duplicates: 0

In [6]:
df["Duration_Days"] = (
    df["Duration"]
    .str.extract(r"(\d+)")
    .astype(int)
)

df[["Duration", "Duration_Days"]].head()

  Duration  Duration_Days
0  15 Days             15
1  15 Days             15
2  15 Days             15
3  15 Days             15
4  15 Days             15

In [7]:
df["Acquisition_Cost_Num"] = (
    df["Acquisition_Cost"]
    .replace(r"[\$,]", "", regex=True)
    .astype(float)
)

df[["Acquisition_Cost", "Acquisition_Cost_Num"]].head()

  Acquisition_Cost  Acquisition_Cost_Num
0          $500.00                 500.0
1          $500.00                 500.0
2          $500.00                 500.0
3          $500.00                 500.0
4          $500.00                 500.0

In [8]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

In [10]:
df["Date"].head()

0   2022-02-25
1   2022-05-12
2   2022-06-19
3   2022-09-08
4   2022-08-24
Name: Date, dtype: datetime64[ns]

In [11]:
df["Date"].isna().sum()

np.int64(0)

In [12]:
df["Month"] = df["Date"].dt.month
df[["Date", "Month"]].head()

        Date  Month
0 2022-02-25      2
1 2022-05-12      5
2 2022-06-19      6
3 2022-09-08      9
4 2022-08-24      8

In [13]:
df["Season"] = df["Month"].map({
    12:"Winter", 1:"Winter", 2:"Winter",
    3:"Spring", 4:"Spring", 5:"Spring",
    6:"Summer", 7:"Summer", 8:"Summer",
    9:"Fall", 10:"Fall", 11:"Fall"
})

df[["Date", "Month", "Season"]].head()

        Date  Month  Season
0 2022-02-25      2  Winter
1 2022-05-12      5  Spring
2 2022-06-19      6  Summer
3 2022-09-08      9    Fall
4 2022-08-24      8  Summer

In [14]:
num_check_cols = [
    "Duration_Days", "Acquisition_Cost_Num",
    "Clicks", "Impressions", "Engagement_Score",
    "Conversion_Rate", "ROI"
]

display(df[num_check_cols].describe())

,Duration_Days,Acquisition_Cost_Num,Clicks,Impressions,Engagement_Score,Conversion_Rate,ROI
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,37.500000,7753.750796,18153.670370,56034.236387,4.369217,0.080009,3.177691
std,16.770538,4301.035148,11027.023294,32583.136334,3.156492,0.040563,2.461200
min,15.000000,500.000000,293.000000,1937.000000,1.000000,0.010000,0.000000
25%,26.250000,4121.915000,8821.000000,28362.000000,1.000000,0.050000,0.930000
50%,37.500000,7755.900000,17230.000000,54098.000000,4.000000,0.080000,2.670000
75%,48.750000,11385.075000,26808.000000,80925.250000,7.000000,0.110000,5.330000
max,60.000000,15000.000000,40000.000000,120000.000000,10.000000,0.150000,8.000000

In [15]:
checks = {
    "Clicks < 0": (df["Clicks"] < 0).sum(),
    "Impressions <= 0": (df["Impressions"] <= 0).sum(),
    "Conversion_Rate outside [0,1]": (~df["Conversion_Rate"].between(0, 1)).sum(),
    "ROI < 0": (df["ROI"] < 0).sum(),
    "Duration_Days <= 0": (df["Duration_Days"] <= 0).sum(),
    "Acquisition_Cost_Num < 0": (df["Acquisition_Cost_Num"] < 0).sum(),
    "Clicks > Impressions": (df["Clicks"] > df["Impressions"]).sum(),
}

checks

{'Clicks < 0': np.int64(0),
 'Impressions <= 0': np.int64(0),
 'Conversion_Rate outside [0,1]': np.int64(0),
 'ROI < 0': np.int64(0),
 'Duration_Days <= 0': np.int64(0),
 'Acquisition_Cost_Num < 0': np.int64(0),
 'Clicks > Impressions': np.int64(0)}

In [16]:
cat_cols = [
    "Target_Audience",
    "Campaign_Goal",
    "Channel_Used",
    "Location",
    "Language",
    "Customer_Segment",
    "Company"
]

for c in cat_cols:
    df[c] = (
        df[c]
        .astype(str)
        .str.strip()
        .str.title()
    )

In [17]:
for c in cat_cols:
    print(c, "→", df[c].nunique())

Target_Audience → 9
Campaign_Goal → 4
Channel_Used → 4
Location → 5
Language → 3
Customer_Segment → 5
Company → 50

In [18]:
df = df.drop(columns=["Duration", "Acquisition_Cost"])

In [19]:
clean_df = df.copy()

In [20]:
clean_df.to_csv("campaigns_clean.csv", index=False)