In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
clean_df = pd.read_csv("campaigns_clean.csv")
print("Shape:", clean_df.shape)
display(clean_df.head(3))
clean_df.info()

Shape: (300000, 18)

,Campaign_ID,Target_Audience,Campaign_Goal,Channel_Used,Conversion_Rate,ROI,Location,Language,Clicks,Impressions,Engagement_Score,Customer_Segment,Date,Company,Duration_Days,Acquisition_Cost_Num,Month,Season
0,529013,Men 35-44,Product Launch,Instagram,0.15,5.79,Las Vegas,Spanish,500,3000,7,Health,2022-02-25,Aura Align,15,500.0,2,Winter
1,275352,Women 45-60,Market Expansion,Facebook,0.01,7.21,Los Angeles,French,500,3000,5,Home,2022-05-12,Hearth Harmony,15,500.0,5,Spring
2,692322,Men 45-60,Product Launch,Instagram,0.08,0.43,Austin,Spanish,500,3000,9,Technology,2022-06-19,Cyber Circuit,15,500.0,6,Summer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Campaign_ID           300000 non-null  int64
 1   Target_Audience       300000 non-null  object
 2   Campaign_Goal         300000 non-null  object
 3   Channel_Used          300000 non-null  object
 4   Conversion_Rate       300000 non-null  float64
 5   ROI                   300000 non-null  float64
 6   Location              300000 non-null  object
 7   Language              300000 non-null  object
 8   Clicks                300000 non-null  int64
 9   Impressions           300000 non-null  int64
 10  Engagement_Score      300000 non-null  int64
 11  Customer_Segment      300000 non-null  object
 12  Date                  300000 non-null  object
 13  Company               300000 non-null  object
 14  Duration_Days         300000 non-null  int64
 15  Acquisition_Cost_Num  300000 non-null  float64
 16  Month                 300000 non-null  int64
 17  Season                300000 non-null  object
dtypes: float64(3), int64(6), object(9)
memory usage: 41.2+ MB

In [13]:
num_cols = [
    "Duration_Days",
    "Acquisition_Cost_Num",
    "Clicks",
    "Impressions",
    "Engagement_Score",
    "Conversion_Rate",
    "ROI"
]

In [14]:
skew_values = clean_df[num_cols].skew().sort_values()
skew_values

Conversion_Rate        -0.000805
Acquisition_Cost_Num   -0.000519
Duration_Days           0.000000
Impressions             0.206032
Clicks                  0.256214
Engagement_Score        0.392467
ROI                     0.415727
dtype: float64