In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [61]:
clean_df = pd.read_csv("campaigns_clean.csv")

In [62]:
clean_df["CTR"] = clean_df["Clicks"] / clean_df["Impressions"]

In [63]:
perf_cols = ["Impressions", "Engagement_Score", "Conversion_Rate", "CTR", "ROI"]
clean_df[perf_cols].describe()

,Impressions,Engagement_Score,Conversion_Rate,CTR,ROI
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,56034.236387,4.369217,0.080009,0.314156,3.177691
std,32583.136334,3.156492,0.040563,0.024657,2.461200
min,1937.000000,1.000000,0.010000,0.151187,0.000000
25%,28362.000000,1.000000,0.050000,0.301698,0.930000
50%,54098.000000,4.000000,0.080000,0.325373,2.670000
75%,80925.250000,7.000000,0.110000,0.331266,5.330000
max,120000.000000,10.000000,0.150000,0.333333,8.000000

CHANNEL CHOICE

In [64]:
channel_perf = (
    clean_df
    .groupby("Channel_Used")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
    .sort_values("ROI", ascending=False)
)

channel_perf

                   ROI  Conversion_Rate  Engagement_Score       CTR
Channel_Used
Instagram     4.008786         0.079764          5.507650  0.321317
Twitter       4.002236         0.080363          5.495760  0.321585
Facebook      3.986930         0.079870          5.478394  0.321359
Pinterest     0.716431         0.080042          1.000000  0.292396

LANGUAGE CHOICE

In [66]:
language_perf = (
    clean_df
    .groupby("Language")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
    .sort_values("ROI", ascending=False)
)

language_perf

               ROI  Conversion_Rate  Engagement_Score       CTR
Language
Spanish   3.190009         0.080091          4.366653  0.314150
French    3.178000         0.079990          4.364107  0.314103
English   3.165072         0.079947          4.376873  0.314215

AUDIENCE CHOICE

In [67]:
audience_perf = (
    clean_df
    .groupby("Target_Audience")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
    .sort_values("ROI", ascending=False)
)

audience_perf

                      ROI  Conversion_Rate  Engagement_Score       CTR
Target_Audience
All Ages         3.211133         0.080197          4.384280  0.314226
Men 18-24        3.195236         0.080242          4.375757  0.314345
Women 45-60      3.185882         0.079652          4.362807  0.314064
Women 35-44      3.178001         0.080178          4.362531  0.314172
Women 25-34      3.176880         0.079928          4.413804  0.314126
Men 45-60        3.169175         0.080259          4.376848  0.314196
Women 18-24      3.163396         0.079969          4.346769  0.314204
Men 35-44        3.160078         0.079936          4.352578  0.314006
Men 25-34        3.159559         0.079722          4.347358  0.314065

LOCATION CHOICE

In [65]:
location_perf = (
    clean_df
    .groupby("Location")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
    .sort_values("ROI", ascending=False)
)

location_perf

                  ROI  Conversion_Rate  Engagement_Score       CTR
Location
New York     3.189703         0.080047          4.375315  0.314272
Miami        3.179352         0.079848          4.369101  0.314132
Las Vegas    3.176499         0.079914          4.366321  0.314167
Los Angeles  3.174227         0.080346          4.384288  0.314132
Austin       3.168688         0.079890          4.350933  0.314077

CAMPAIGN GOAL

In [68]:
goal_perf = (
    clean_df
    .groupby("Campaign_Goal")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
    .sort_values("ROI", ascending=False)
)

goal_perf

                       ROI  Conversion_Rate  Engagement_Score       CTR
Campaign_Goal
Product Launch    3.190008         0.079894          4.373624  0.314112
Increase Sales    3.178511         0.079929          4.373944  0.314177
Brand Awareness   3.172684         0.079995          4.357126  0.314181
Market Expansion  3.169549         0.080220          4.372223  0.314154

SEASON CHOICE

In [69]:
season_perf = (
    clean_df
    .groupby("Season")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
    .sort_values("ROI", ascending=False)
)

season_perf

             ROI  Conversion_Rate  Engagement_Score       CTR
Season
Spring  3.192410         0.080165          4.377451  0.314239
Fall    3.179247         0.079995          4.376591  0.314166
Summer  3.172246         0.079971          4.358018  0.314075
Winter  3.166733         0.079905          4.364873  0.314144

### Big Picture: ###

1) Pintrest <<< Instagram/Facebook/Twitter --> BIGGEST DRIVERS
2) Audience and Languages  --> MEDIUM DRIVERS
3) Location, Season and Campaign Goals --> WEAK DRIVERS

In [70]:
channel_x_perf = (
    clean_df
    .groupby("Channel_Used")[["ROI", "Conversion_Rate", "Engagement_Score", "CTR"]]
    .mean()
)

channel_x_perf

                   ROI  Conversion_Rate  Engagement_Score       CTR
Channel_Used
Facebook      3.986930         0.079870          5.478394  0.321359
Instagram     4.008786         0.079764          5.507650  0.321317
Pinterest     0.716431         0.080042          1.000000  0.292396
Twitter       4.002236         0.080363          5.495760  0.321585

TAKEAWAY

Platform choice is the single most important lever for performance.

In [71]:
channel_audience = (
    clean_df
    .groupby(["Channel_Used", "Target_Audience"])["ROI"]
    .mean()
    .reset_index()
    .sort_values("ROI", ascending=False)
)

channel_audience.head(15)

   Channel_Used Target_Audience       ROI
29      Twitter       Men 25-34  4.039463
27      Twitter        All Ages  4.034988
9     Instagram        All Ages  4.031374
15    Instagram     Women 25-34  4.027160
7      Facebook     Women 35-44  4.015573
28      Twitter       Men 18-24  4.014953
11    Instagram       Men 25-34  4.014695
10    Instagram       Men 18-24  4.013985
17    Instagram     Women 45-60  4.011947
1      Facebook       Men 18-24  4.010983
32      Twitter     Women 18-24  4.008664
16    Instagram     Women 35-44  4.008305
8      Facebook     Women 45-60  4.004673
31      Twitter       Men 45-60  4.004307
35      Twitter     Women 45-60  3.998057

TAKEAWAY

Audience targeting should be tuned by platform: broad targeting works best on Instagram and Twitter, while Facebook shows stronger performance with mid-age female segments. So, channel selection should be based on audience

In [72]:
channel_language = (
    clean_df
    .groupby(["Channel_Used", "Language"])["ROI"]
    .mean()
    .reset_index()
    .sort_values("ROI", ascending=False)
)

channel_language

   Channel_Used Language       ROI
5     Instagram  Spanish  4.028906
10      Twitter   French  4.026986
2      Facebook  Spanish  4.015992
4     Instagram   French  4.001449
3     Instagram  English  3.996179
9       Twitter  English  3.991198
11      Twitter  Spanish  3.988729
1      Facebook   French  3.979364
0      Facebook  English  3.965276
8     Pinterest  Spanish  0.718019
6     Pinterest  English  0.716479
7     Pinterest   French  0.714801

TAKEAWAY

Language influence is weak so channel should first be slected before thinking about language.

In [73]:
goal_season = (
    clean_df
    .groupby(["Campaign_Goal", "Season"])["ROI"]
    .mean()
    .reset_index()
    .sort_values("ROI", ascending=False)
)

goal_season

       Campaign_Goal  Season       ROI
13    Product Launch  Spring  3.203838
14    Product Launch  Summer  3.197949
1    Brand Awareness  Spring  3.190156
5     Increase Sales  Spring  3.189867
7     Increase Sales  Winter  3.189270
12    Product Launch    Fall  3.188968
9   Market Expansion  Spring  3.185831
0    Brand Awareness    Fall  3.182455
4     Increase Sales    Fall  3.174693
2    Brand Awareness  Summer  3.173523
8   Market Expansion    Fall  3.170733
15    Product Launch  Winter  3.168966
11  Market Expansion  Winter  3.164567
6     Increase Sales  Summer  3.160500
10  Market Expansion  Summer  3.157053
3    Brand Awareness  Winter  3.144516

TAKEAWAY 

Seasonal Timing is crucial as specific combinations work better than others.